	
				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="page-title">Jobs</h3>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
								<li class="breadcrumb-item active">Jobs</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /Page Header -->

				<!-- Search Form -->
				<div class="main-search">
					<form action="#">
						<div class="input-group">
							<input type="text" class="form-control" [(ngModel)]="titreCandidature">
							<div class="input-group-append">
								<button class="btn btn-primary" type="button">Search</button>
							</div>
						</div>
					</form>
				</div>
				<!-- /Search Form -->
				
				<div class="row" >
					<div class="col-md-6" *ngFor="let candidature of candidatures | rechercheCandidatureTitre: titreCandidature | paginate: { itemsPerPage: 8, currentPage: p}" (click)="detail(candidature)" >
						<!-- <a class="job-list" *ngFor="let candidature of candidatures" routerLink="../candidature-details/{{candidature.id}}" > -->
							<a class="job-list" >

							<div class="job-list-det">
								<div class="job-list-desc">
									<h3 class="job-list-title">{{candidature.titre}}</h3>
									<!--<h4 class="job-department">Development</h4>-->
								</div>
								<div class="job-type-info">
									<span class="job-types">{{candidature.type}}</span>
								</div>
							</div>
							<div class="job-list-footer">
								<ul>
									<!--<li><i class="fa fa-map-signs"></i> California</li>-->
									<li><i class="fa fa-money"></i> {{candidature.salaire}}</li>
									<li><i class="fa fa-clock-o"></i> {{candidature.date_debut}}</li>
								</ul>
							</div>
						</a>
						
					</div>
					<pagination-controls class="my-pagination"  (pageChange)="p = $event"   previousLabel="Précédent"
                    nextLabel="Suivant " ></pagination-controls>
				</div>
			

	